<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.dao.PaperDao">
<!-- 
PAPER_ID	NUMBER(10,0)	No		1	
PAPER_NAME	VARCHAR2(200 BYTE)	Yes		2	调查问卷名称
PAPER_TYPE	VARCHAR2(20 BYTE)	Yes		3	01：整张方式
PAPER_LANGUAGE	VARCHAR2(20 BYTE)	Yes		4	语言
STATUS	NUMBER(10,0)	Yes		5	1：使用，9：禁用
CREATE_DATE	DATE	Yes		6	
PAPER_TITLE	VARCHAR2(200 BYTE)	Yes		7	调查问卷标题
GREET	VARCHAR2(200 BYTE)	Yes		8	欢迎语句
THANK	VARCHAR2(200 BYTE)	Yes		9	感谢语句
 -->
	<insert id="addPaper" parameterType="com.dave.entity.Paper">
     	insert into su_paper
      	(paper_name, paper_type, paper_language, status, create_date
      	, paper_title, greet, thank)
      	values
		(#{paperName}, #{paperType}, #{paperLanguage}, #{status}, #{createDate}
		, #{paperTitle}, #{greet}, #{thank})
	</insert>
	<!-- <update id="updateQues" parameterType="com.dave.entity.Ques">
		update su_ques set ques_name = #{quesName} where ques_id = #{quesId}
	</update> -->
	<!-- <select id="findQuesList" resultType="com.dave.entity.Ques">
		select * from 
		(select tt.*, rownum as rowno from 
		(select * from su_ques 
		<if test="quesName != null and '' != quesName">
			where ques_name like concat(concat('%', #{quesName}), '%') 
		</if>
		order by create_date desc
		) tt
		where rownum <![CDATA[<= ]]> #{pageSize}) 
		table_alias where table_alias.rowno > #{startIndex}
	</select> -->
</mapper>