<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.dao.QuesOptionDao">
	<insert id="addOption" parameterType="com.dave.entity.QuesOption">
     	insert into su_ques_option
      	(ques_id, option_content, flag, status)
      	values
		(#{quesId}, #{optionContent}, #{flag}, #{status})
	</insert>
	<update id="deleteOption">
		update su_ques_option set status = 0 
		where ques_id = #{quesId} and 0 = (
		select count(*) from su_paper_ques pq 
		left join su_paper p on pq.paper_id = p.paper_id 
		where p.status != 0 and pq.ques_id = #{quesId})
	</update>
</mapper>