<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.dao.QuesDao">
	<insert id="addQues" parameterType="com.dave.entity.Ques">
     	insert into su_ques
      	(ques_name, ques_type, create_date)
      	values
		(#{quesName}, #{quesType}, #{createDate})
	</insert>
	<update id="updateQues" parameterType="com.dave.entity.Ques">
		update su_ques set ques_name = #{quesName} where ques_id = #{quesId}
	</update>
	<select id="findQuesList" resultType="com.dave.entity.Ques">
		select * from 
		(select tt.*, rownum as rowno from 
		(select * from su_ques 
		<if test="quesName != null and '' != quesName">
			where ques_name like concat(concat('%', #{quesName}), '%') 
		</if>
		order by create_date desc
		) tt
		where rownum <![CDATA[<= ]]> #{pageSize}) 
		table_alias where table_alias.rowno > #{startIndex}
	</select>
</mapper>