<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.dao.ResultQuesDao">
	<insert id="addResultQues" parameterType="com.dave.entity.ResultQues">
     	insert into su_result_ques
      	(result_id, ques_num, ques_id, ques_type, option_content, ques_name)
      	values
		(#{resultId}, #{quesNum}, #{quesId}, #{quesType}, #{optionContent}, #{quesName})
	</insert>
</mapper>