<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.dao.ResultDao">
	<insert id="addResult" parameterType="com.dave.entity.Result">
     	insert into su_result
      	(mobile_num, cli, agent_id, paper_id, paper_type, paper_language, 
      	start_time, end_time)
      	values
		(#{mobileNum}, #{cli}, #{agentId}, #{paperId}, #{paperType}, 
		#{paperLanguage}, #{startTime}, #{endTime})
	</insert>
	<select id="findResultList" resultType="com.dave.entity.Result">
		select * from 
		(select tt.*, rownum as rowno from 
		(select r.result_id, r.mobile_num, r.cli, r.agent_id, p.paper_name, r.paper_type, r.paper_language, r.start_time, r.end_time 
		from su_result r left join su_paper p on r.paper_id = p.paper_id 
		where 1=1 
		<if test="paperName != null and '' != paperName">
			and p.paper_name like concat(concat('%', #{paperName}), '%') 
		</if>
		<if test="startDate != null and '' != startDate">
			and r.end_time <![CDATA[>=]]>  to_date(#{startDate}, 'yyyy-mm-dd hh24:mi:ss') 
		</if>
		<if test="endDate != null and '' != endDate">
			and r.end_time <![CDATA[<=]]> to_date(#{endDate}, 'yyyy-mm-dd hh24:mi:ss')+1
		</if>
		order by r.end_time desc
		) tt
		where rownum <![CDATA[<=]]> #{pageSize}) 
		table_alias where table_alias.rowno > #{startIndex}
	</select>
	<select id="exportSurveyResult" resultType="com.dave.entity.vo.ResultExportInfo">
		select 
		p.paper_name, r.mobile_num, r.cli, r.agent_id, r.paper_type, r.paper_language, 
		eq.ques_num, eq.ques_type, q.ques_name, eq.option_content, r.end_time
		from su_result r 
		left join su_result_ques eq on r.result_id = eq.result_id
		left join su_paper p on r.paper_id = p.paper_id 
		left join su_ques q on q.ques_id = eq.ques_id 
		where 1=1
		<if test="paperName != null and '' != paperName">
			and p.paper_name like concat(concat('%', #{paperName}), '%')
		</if>
		<if test="startDate != null and '' != startDate">
			and r.end_time <![CDATA[>=]]>  to_date(#{startDate}, 'yyyy-mm-dd hh24:mi:ss') 
		</if>
		<if test="endDate != null and '' != endDate">
			and r.end_time <![CDATA[<=]]> to_date(#{endDate}, 'yyyy-mm-dd hh24:mi:ss')+1
		</if>
		order by p.paper_name, r.mobile_num, r.end_time desc, eq.ques_num asc
	</select>
</mapper>