<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.dao.RoleDao">
     <insert id="addRole" parameterType="com.dave.entity.Role">
     	insert into su_role
      	(role_id, role_name, role_note, create_user, create_time, modify_user, modify_time, status)
      	values
		(#{roleId}, #{roleName}, #{roleNote}, #{createUser}, #{createTime}, #{modifyUser}, #{modifyTime}, #{status})
     </insert>
     <select id="findRoleList" resultType="com.dave.entity.Role">
		select * from 
		(select tt.*, rownum as rowno from 
		(select * from su_role where status = 1 
		<if test="roleName != null and '' != roleName">
			and role_name like concat(concat('%', #{roleName}), '%') 
		</if>
		order by role_id asc) tt
		where rownum <![CDATA[<=]]> #{pageSize}) 
		table_alias where table_alias.rowno > #{startIndex}
	</select>
	<update id="updateRole" parameterType="com.dave.entity.Role">
		update su_role set 
		role_name = #{roleName}, role_note = #{roleNote}, 
		modify_user = #{modifyUser}, modify_time = #{modifyTime} 
		where role_id = #{roleId}
	</update>
</mapper>