<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404</title>
</head>
<body>
  <img alt="3logo" src="images/3logo_28-5-18.gif">
  <div>
  	<span th:text="${chMessage}"></span><br/>
  	<span th:text="${engMessage}"></span>
  </div>
  <div style="background:#FFFFFF; position:fixed; bottom:0px; width:100%;">
  <hr/>
  <div style="float:left;">
  	© 3HK 
  </div>
  <div style="float:right;">
  	<img alt="signature" src="images/signature.png">
  </div>
  </div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
</script>